network_device: eth0
vnc_device: eth0
admin_passwd: passw0rd
db_passwd: passw0rd
dns_server: 8.8.8.8
cpu_ratio: 1
mem_ratio: 1
disk_ratio: 1
domain_name: example.com
monitor_vip: localhost
monitor_access_port: 9090
smtp_host: "smtp.example.com:123"
smtp_hello: "smtp.example.com"
alert_sender: "cloudg@example.com"
smtp_user: "cloud@example.com"
smtp_pass: "1234545666"
receiver_name: "alert"
alert_recipient: "example@example.com"
slack_channel: "test-123"
slack_webhook_url: "https://hooks.slack.com/services/example/"
slack_node_status_channel: "alert-node-status-notification"
slack_node_status_webhook_url: "https://hooks.slack.com/services/NODE_STATUS_WEBHOOK/"
slack_resource_channel: "alert-resource-notification"
slack_resource_webhook_url: "https://hooks.slack.com/services/RESOURCE_WEBHOOK/"
slack_security_channel: "alert-security-notification"
slack_security_webhook_url: "https://hooks.slack.com/services/SECURITY_WEBHOOK/"
alert_webhook_url: "localhost:443"
metering_server_vip: "localhost"
metering_server_port: "8480"
metering_server_url: "http://{{ metering_server_vip }}:{{ metering_server_port }}/insert/0/prometheus/api/v1/write"
metering_api_port: "8480"

switch_api_endpoint: "localhost"
switch_api_house: "test"

