<div class="four wide column">
    <div class="ui vertical menu">
        <div class="header item">{{.i18n.Tr "Authorizations"}}</div>
        <a {{ if eq .Link "/users" }} class="active item" {{ else }} class="item" {{ end }} href="/users">
            {{.i18n.Tr "Users"}}
        </a>
        <a {{ if eq .Link "/orgs" }} class="active item" {{ else }} class="item" {{ end }} href="/orgs">
            {{.i18n.Tr "Organizations"}}
        </a>
        <a {{ if eq .Link "/keys" }} class="active item" {{ else }} class="item" {{ end }} href="/keys">
            {{.i18n.Tr "Keys"}}
        </a>
        <a {{ if eq .Link "/dictionaries" }} class="active item" {{ else }} class="item" {{ end }} href="/dictionaries">
            {{.i18n.Tr "Dictionaries"}}
        </a>
        <div class="header item">{{.i18n.Tr "Compute_Storage"}}</div>
        <a {{ if eq .Link "/instances" }} class="active item" {{ else }} class="item" {{ end }} href="/instances">
            {{.i18n.Tr "Instances"}}
        </a>
        <a {{ if eq .Link "/volumes" }} class="active item" {{ else }} class="item" {{ end }} href="/volumes">
            {{.i18n.Tr "Volumes"}}
        </a>
        <a {{ if eq .Link "/backups" }} class="active item" {{ else }} class="item" {{ end }} href="/backups">
            {{.i18n.Tr "Backups"}}
        </a>
        <a class="{{if eq .Link "/cgroups"}}active {{end}}item" href="/cgroups">
            {{.i18n.Tr "Consistency_Groups"}}
        </a>
        <a {{ if eq .Link "/flavors" }} class="active item" {{ else }} class="item" {{ end }} href="/flavors">
            {{.i18n.Tr "Flavors"}}
        </a>
        <a {{ if eq .Link "/images" }} class="active item" {{ else }} class="item" {{ end }} href="/images">
            {{.i18n.Tr "Images"}}
        </a>
        <a {{ if eq .Link "/tasks" }} class="active item" {{ else }} class="item" {{ end }} href="/tasks">
            {{.i18n.Tr "Tasks"}}
        </a>
        <div class="header item">{{.i18n.Tr "Network_Security"}}</div>
        <a {{ if eq .Link "/routers" }} class="active item" {{ else }} class="item" {{ end }} href="/routers">
            {{.i18n.Tr "VPCs"}}
        </a>
        <a {{ if eq .Link "/ipgroups" }} class="active item" {{ else }} class="item" {{ end }} href="/ipgroups">
            {{.i18n.Tr "IpGroups"}}
        </a>
        <a {{ if eq .Link "/subnets" }} class="active item" {{ else }} class="item" {{ end }} href="/subnets">
            {{.i18n.Tr "Subnets"}}
        </a>
        <a {{ if eq .Link "/floatingips" }} class="active item" {{ else }} class="item" {{ end }} href="/floatingips">
            {{.i18n.Tr "ElasticIps"}}
        </a>
        <a {{ if eq .Link "/secgroups" }} class="active item" {{ else }} class="item" {{ end }} href="/secgroups">
            {{.i18n.Tr "SecurityGroups"}}
        </a>
        <a {{ if eq .Link "/loadbalancers" }} class="active item" {{ else }} class="item" {{ end }} href="/loadbalancers">
            {{.i18n.Tr "LoadBalancers"}}
        </a>
		{{ if $.IsAdmin }}
        <div class="header item">{{.i18n.Tr "Administration"}}</div>
        <a {{ if eq .Link "/zones" }} class="active item" {{ else }} class="item" {{ end }} href="/zones">
            {{.i18n.Tr "Zones"}}
        </a>
        <a {{ if eq .Link "/hypers" }} class="active item" {{ else }} class="item" {{ end }} href="/hypers">
            {{.i18n.Tr "Hypers"}}
        </a>
        <a {{ if eq .Link "/migrations" }} class="active item" {{ else }} class="item" {{ end }} href="/migrations">
            {{.i18n.Tr "Migrations"}}
        </a>

		{{/* Add new link for Node Alarm Rules */}}
		<a {{ if eq .Link "/alarms/node" }} class="active item" {{ else }} class="item" {{ end }} href="/alarms/node">
            {{.i18n.Tr "NodeAlarmRules"}}
        </a>

		{{ end }}
    </div>
</div>
