{{template "_head" .}}
<div class="user signup">
    <div class="ui middle very relaxed page grid">
        <div class="column">
            <form class="ui form" action="{{.Link}}" method="post" autocomplete="off">
                <h3 class="ui top attached header">
                    {{.i18n.Tr "Update Dictionary"}}
                </h3>
                <div class="ui attached segment">
                    <div class="inline field">
                        <label for="category">{{.i18n.Tr "Category"}}</label>
                        <div class="ui selection dropdown">
                            <input id="category" name="category" type="hidden">
                            <i class="dropdown icon"></i>
                            <div class="default text">{{ .Dictionary.Category }}</div>
                            <div class="menu">
                            <div class="item" data-value="ipgroup" data-text="ipgroup">{{.i18n.Tr "ipgroup"}}</div>
                            <div class="item" data-value="storage_pool" data-text="storage_pool">{{.i18n.Tr "storage_pool"}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="inline field">
                        <label for="name">{{.i18n.Tr "Name"}}</label>
                        <input id="name" name="name" type="text" value="{{ .Dictionary.Name }}">
                    </div>
                    <div class="inline field">
                        <label for="value">{{.i18n.Tr "Value"}}</label>
                        <input id="value" name="value" type="text" value="{{ .Dictionary.Value }}">
                    </div>
                    <div class="inline field">
                        <label for="shortname">{{.i18n.Tr "ShortName"}}</label>
                        <input id="shortname" name="shortname" type="text" value="{{ .Dictionary.ShortName }}">
                    </div>
                    <div class="inline field">
                        <label for="subtype1">{{.i18n.Tr "SubType1"}}</label>
                        <input id="subtype1" name="subtype1" type="text" value="{{ .Dictionary.SubType1 }}">
                    </div>
                    <div class="inline field">
                        <label for="subtype2">{{.i18n.Tr "SubType2"}}</label>
                        <input id="subtype2" name="subtype2" type="text" value="{{ .Dictionary.SubType2 }}">
                    </div>
                    <div class="inline field">
                        <label for="subtype3">{{.i18n.Tr "SubType3"}}</label>
                        <input id="subtype3" name="subtype3" type="text" value="{{ .Dictionary.SubType3 }}">
                    </div>
                    <div class="inline field">
                        <label></label>
                        <button class="ui green button">{{.i18n.Tr "Update"}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{{template "_footer" .}}