{{template "_head" .}}
<div class="user signup">
	<div class="ui middle very relaxed page grid">
        <div class="column" >
            <form class="ui form" action="{{.Link}}" method="post">
                <h3 class="ui top attached header">
                    {{.i18n.Tr "Update Interface"}}
                </h3>
                <div class="ui attached segment">
                    <div class="required inline field">
                        <label for="name">{{.i18n.Tr "Name"}}</label>
                        <input id="name" name="name" value="{{ .Interface.Name }}" disabled>
                    </div>
                    <div class="required inline field">
                        <label for="address">{{.i18n.Tr "IP Address"}}</label>
                        {{ if eq .Interface.FloatingIp 0 }}
                        <input id="address" name="address" value="{{ .Interface.Address.Address }}" disabled>
                        {{ else }}
			<div class="ui selection dropdown">
			    <input id="primary_floating" name="primary_floating" type="hidden" value="{{ .Interface.Address.Address }}">
			    <i class="dropdown icon"></i>
				<div class="default text">{{ .Interface.Address.Address }}</div>
				<div class="menu">
			        <div class="item" data-value={{.Interface.FloatingIp }} data-text={{.Interface.Address.Address}}>
                                   {{.Interface.Address.Address}}
			        </div>
                                {{ $Vlan := .Interface.Address.Subnet.Vlan }}
                                {{ range .PublicIps }}
                                   {{ if eq .Subnet.Vlan $Vlan }}
			           <div class="item" data-value={{.ID}} data-text={{.FipAddress}}>
                                     {{.FipAddress}}
			           </div>
                                   {{ end }}
                                {{ end }}
			        </div>
			</div>
                        {{ end }}
                    </div>
                    <div class="inline field">
                        <label for="second_addresses">{{.i18n.Tr "Secondary IP Addresses"}}</label>
                        <input id="second_addresses" name="second_addresses" value="{{ range .Interface.SecondAddresses }} {{ .Address }} {{ end }}" disabled>
                    </div>
                    {{ if ne .Interface.FloatingIp 0 }}
                    <div class="inline field">
                        <label for="public_ips">{{.i18n.Tr "Public IPs"}}</label>
                        <select name="public_ips" id="public_ips" multiple="" class="ui multiple selection dropdown">
                            <option value="{{ .Interface.FloatingIp }}" selected>{{ .Interface.Address.Address }}</option>
                            {{ $PrimaryAddress := .Interface.Address.Address }}
                            {{ $PublicIps := .PublicIps }}
                            {{ range .Interface.SecondAddresses }}
                              {{ $Address := .Address }}
                              {{ range $PublicIps }}
                                {{ if eq $Address .FipAddress }}
                                  <option value="{{ .ID }}" selected>{{ .FipAddress }}</option>
                                {{ end }}
                              {{ end }}
                            {{ end }}
                            {{ $SecondAddresses := .Interface.SecondAddresses }}
                            {{ range .PublicIps }}
                              {{ $selected := false }}
                              {{ $FipAddress := .FipAddress }}
                              {{ if eq $PrimaryAddress $FipAddress }}
                                {{ $selected = true }}
                              {{ else }}
                                {{ range $SecondAddresses }}
                                  {{ if eq .Address $FipAddress }}
                                    {{ $selected = true }}
                                  {{ end }}
                                {{ end }}
                              {{ end }}
                              {{ if not $selected }}
                                <option value="{{ .ID }}">{{ $FipAddress }}</option>
                              {{ end }}
                            {{ end }}
                        </select>
                    </div>
                    {{ end }}
                    <div class="inline field">
                        <label for="subnets">{{.i18n.Tr "Subnets"}}</label>
                        <select name="subnets" id="subnets" multiple="" class="ui multiple selection dropdown">
                            {{ $IfaceSubnets := .IfaceSubnets }}
                            {{ range .Subnets }}
                              {{ $subnetID := .ID }}
                              {{ $selected := false }}
                              {{ range $IfaceSubnets }}
                                {{ if eq .ID $subnetID }}
                                  {{ $selected = true }}
                                {{ end }}
                              {{ end }}
                              {{ if $selected }}
                                  <option value="{{ .ID }}" selected>{{.Name}}--{{.Network}}/{{.Netmask}}</option>
                              {{ else }}
                                  <option value="{{ .ID }}">{{.Name}}--{{.Network}}/{{.Netmask}}</option>
                              {{ end }}
                            {{ end }}
                        </select>
                    </div>
                    <div class="required inline field">
                        <label for="ip_count">{{.i18n.Tr "IP Count"}}</label>
                        <input id="ip_count" name="ip_count" value="{{ .IpCount }}" required>
                    </div>
                    <div class="required inline field">
                        <label for="macaddr">{{.i18n.Tr "Mac Address"}}</label>
                        <input id="macaddr" name="macaddr" value="{{ .Interface.MacAddr }}" disabled>
                    </div>
                    <div class="inline field">
                    	<label for="inbound">{{.i18n.Tr "Inbound Bandwidth"}}</label>
                    	<input id="inbound" name="inbound" value="{{ .Interface.Inbound }}">
                    </div>
                    <div class="inline field">
                    	<label for="outbound">{{.i18n.Tr "Outbound Bandwidth"}}</label>
                    	<input id="outbound" name="outbound" value="{{ .Interface.Outbound }}">
                    </div>
                    <div class="inline field">
                    	<label for="allow_spoofing">{{.i18n.Tr "Allow Spoofing"}}</label>
                    	<div class="ui selection dropdown">
                    	  <input id="allow_spoofing" name="allow_spoofing" type="hidden">
                    	  <i class="dropdown icon"></i>
			  {{if .Interface.AllowSpoofing }}
                    	      <div class="default text">{{.i18n.Tr "yes"}}</div>
			  {{else}}
                    	      <div class="default text">{{.i18n.Tr "no"}}</div>
			  {{end}}
                    	  <div class="menu">
                    		<div class="item" data-value="yes" data-text="yes">{{.i18n.Tr "yes"}}</div>
                    		<div class="item" data-value="no" data-text="no">{{.i18n.Tr "no"}}</div>
                    	  </div>
                    	</div>
                    </div>
                    <div class="inline field">
                        <label for="sites">{{.i18n.Tr "Site Subnets"}}</label>
                        <select name="sites" id="sites" multiple="" class="ui multiple selection dropdown">
                            {{ $IfaceSites := .IfaceSites }}
                            {{ range .SiteSubnets }}
                              {{ $siteID := .ID }}
                              {{ $selected := false }}
                              {{ range $IfaceSites }}
                                {{ if eq .ID $siteID }}
                                  {{ $selected = true }}
                                {{ end }}
                              {{ end }}
                              {{ if $selected }}
                                  <option value="{{ .ID }}" selected>{{.Name}}--{{.Network}}/{{.Netmask}}</option>
                              {{ else }}
                                  <option value="{{ .ID }}">{{.Name}}--{{.Network}}/{{.Netmask}}</option>
                              {{ end }}
                            {{ end }}
                        </select>
                    </div>
                    <div class="inline field">
                        <label for="secgroups">{{.i18n.Tr "Security Groups"}}</label>
                        <select name="secgroups" id="secgroups" multiple="" class="ui multiple selection dropdown">
                            {{ $IfaceSecgroups := .IfaceSecgroups }}
            		    {{ range .Secgroups }}
                              {{ $sgID := .ID }}
                              {{ $selected := false }}
            		      {{ range $IfaceSecgroups }}
                                {{ if eq .ID $sgID }}
                                  {{ $selected = true }}
                                {{ end }}
                              {{ end }}
                              {{ if $selected }}
                                  <option value="{{ .ID }}" selected>{{ .ID }}-{{ .Name }}</option>
                              {{ else }}
                                  <option value="{{ .ID }}">{{ .ID }}-{{ .Name }}</option>
                              {{ end }}
                            {{ end }}
                        </select>
		    </div>
                    <div class="inline field">
                        <label></label>
                        <button class="ui green button">{{.i18n.Tr "Update Interface"}}</button>
                    </div>
                </div>
            </form>
        </div>
	</div>
</div>
{{template "_footer" .}}

