{{template "_head" .}}
<div class="user signup">
	<div class="ui middle very relaxed page grid">
        <div class="column" >
            <form class="ui form" action="{{.Link}}" method="post" autocomplete="off">
                <h3 class="ui top attached header">
                    {{.i18n.Tr "Update Ip Group"}}
                </h3>
                <div class="ui attached segment">
                    <div class="inline field">
                        <label for="name">{{.i18n.Tr "Name"}}</label>
                        <input id="name" name="name" type="text" value="{{ .IpGroup.Name }}">
                    </div>
                    <div class="required inline field">
                        <label for="type">{{.i18n.Tr "Type"}}</label>
                        <div class="ui selection dropdown">
                            <input id="type" name="type" type="hidden" value="{{$.IpGroup.Type}}">
                            <i class="dropdown icon"></i>
                            <div class="default text">{{.i18n.Tr "Type"}}</div>
                            <div class="menu">
                                <div class="item" data-value="system">{{.i18n.Tr "System"}}</div>
                                <div class="item" data-value="resource">{{.i18n.Tr "Resource"}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="inline field">
                        <label for="category">{{.i18n.Tr "Category"}}</label>
                        <select name="category" id="category" class="ui selection dropdown">
                            <option value="0" {{if not $.IpGroup.TypeID}}selected{{end}}>-- Please select --</option>
                            {{range  .IpGroupTypes}}
                                <option value="{{.ID}}" {{if eq .ID $.IpGroup.TypeID}}selected{{end}}>{{.Name}}</option>
                            {{end}}
                        </select>
                    </div>
                    <div class="inline field">
                        <label></label>
                        <button class="ui green button">{{.i18n.Tr "Update"}}</button>
                    </div>
                </div>
            </form>
        </div>
	</div>
</div>
{{template "_footer" .}}

