{{template "_head" .}}
    <div class="admin user">
	    <div class="ui container">
		    <div class="ui grid">
                {{template "_left" .}}
          	    <div class="twelve wide column content">
		            <h4 class="ui top attached header">
			            {{.i18n.Tr "LoadBalancer_Manage_Panel"}} ({{.i18n.Tr "Total"}}: {{.Total}})
			            <div class="ui right">
				            <a class="ui green tiny button" href="loadbalancers/new">{{.i18n.Tr "Create"}}</a>
			            </div>
		            </h4>
		            <div class="ui attached segment">
			            <form class="ui form">
	                        <div class="ui fluid tiny action input">
	                            <input name="q" value="{{ .Query }}" placeholder="Search..." autofocus>
	                            <button class="ui blue tiny button">{{.i18n.Tr "Search"}}</button>
	                        </div>
                        </form>
		            </div>
		            <div class="ui unstackable attached table segment">
                        <table class="ui unstackable very basic striped table">
	                        <thead>
		                        <tr>
									{{ if $.IsAdmin }}
			                        <th>{{.i18n.Tr "ID"}}</th>
									{{ end }}
									<th>{{.i18n.Tr "UUID"}}</th>
			                        <th>{{.i18n.Tr "Name"}}</th>
			                        <th>{{.i18n.Tr "Public IPs"}}</th>
			                        <th>{{.i18n.Tr "Listeners"}}</th>
			                        <th>{{.i18n.Tr "Status"}}</th>
			                        <th>{{.i18n.Tr "Hypers"}}</th>
			                        <th>{{.i18n.Tr "VPC"}}</th>
		   			        {{ if $.IsAdmin }}
			                        <th>{{.i18n.Tr "Owner"}}</th>
						{{ end }}
                                    <th>{{.i18n.Tr "Action"}}</th>
		                        </tr>
	                        </thead>
	                        <tbody>
                                {{ $Link := .Link }}
                                {{ range .LoadBalancers}}
		                        <tr>
									{{ if $.IsAdmin }}
			                        <td>{{.ID}}</td>
									{{ end }}
									<td>{{.UUID}}</td>
			                        <td>{{.Name}}</td>
			                        <td>
							{{ range .FloatingIps}}
								{{.FipAddress }}<br>
							{{ end }}
                                    		</td>
			                        <td>
							{{ range .Listeners}}
								{{.Name }}<br>
							{{ end }}
                                    		</td>
			                        <td>{{ $.i18n.Tr .Status }}</td>
			                        <td>{{ .VrrpInstance.Hyper }}, {{ .VrrpInstance.Peer }}</td>
			                        <td>
						{{ if .Router }}
						{{ .Router.Name }}
						{{ end }}
                                    		</td>
		   			        {{ if $.IsAdmin }}
			                        <td>{{.OwnerInfo.Name}}</td>
						{{ end }}
                                    <td><div class="ui selection dropdown">
											<input id="action" name="action" type="hidden">
												<i class="dropdown icon"></i>
													<div class="default text">Action
													</div>
														<div class="menu">
															<div class="item" data-value="1" data-text="ShowPublicIps        ">
															<a href="{{$Link}}/{{.ID}}/floatingips">{{$.i18n.Tr "Configure PublicIPs"}}        </a>
															</div>
															<div class="item" data-value="2" data-text="ShowListeners        ">
															<a href="{{$Link}}/{{.ID}}/listeners">{{$.i18n.Tr "Configure Listeners"}}        </a>
															</div>
                                                            <div class="item" data-value="3" data-text="DeleteLoadBalancer        ">
                                                                <a class="delete-button" data-url="{{$Link}}/{{.ID}}" data-id="{{.ID}}" href="javascript:void(0)">{{$.i18n.Tr "Delete Load Balancer"}}        </a>
                                                            </div>
														</div>
										</div>
									</td>
		                        </tr>
                                {{ end }}
	                        </tbody>
                        </table>
		            </div>
		            <div class="ui attached segment">
                                 {{ if .Pages}}
                                 <div class="ui pagination menu">
                                     {{ range  $index, $element := .Pages }}
                                         <a class="active item">
                                             <a href="{{$Link}}?offset={{$element.Offset}}">{{ $element.Number }}</a>
                                         </a>
                                     {{ end }}
                                 </div>
                                 {{ end }}
	                    </div>
	            </div>
            </div>
        </div>
    </div>
    <div class="ui small basic delete modal">
	    <div class="ui icon header">
		    <i class="trash icon"></i>
            {{.i18n.Tr "LoadBalancer Deletion"}}
	    </div>
	    <div class="content">
		    <p>{{.i18n.Tr "LoadBalancer_Deletion_Confirm"}}</p>
	    </div>
	    {{template "_delete_modal_actions" .}}
    </div>
{{template "_footer" .}}
