{{template "_head" .}}
<div class="user signup">
	<div class="ui middle very relaxed page grid">
        <div class="column" >
            <form class="ui form" action="{{.Link}}" method="post">
                <h3 class="ui top attached header">
                    {{.i18n.Tr "Update Volume QoS"}}
                </h3>
                <div class="ui attached segment">
                    <div class="required inline field">
                        <label for="name">{{.i18n.Tr "Name"}}</label>
                        <input id="name" name="name" value="{{ .Volume.Name }}" disabled>
                    </div>
                    <div class="inline field">
                        <label for="iops_limit">{{.i18n.Tr "IOPS_Limit"}}</label>
                        <input id="iops_limit" name="iops_limit" value="{{ .Volume.IopsLimit }}">
                    </div>
                    <div class="inline field">
                        <label for="bps_limit">{{.i18n.Tr "BPS_Limit"}}</label>
                        <input id="bps_limit" name="bps_limit" value="{{ .Volume.BpsLimit }}">
                    </div>
                    <div class="inline field">
                        <label></label>
                        <button class="ui green button">{{.i18n.Tr "Update Volume"}}</button>
                    </div>
                </div>
            </form>
        </div>
	</div>
</div>
{{template "_footer" .}}

