{{template "_head" .}}
<div class="admin user">

    <div class="ui container">

        <div class="ui grid">

        {{template "_left" .}}
			<div class="user signup">
				<div class="ui middle very relaxed page grid">
					<div class="" >
						<form class="ui form" action="{{.Link}}" method="post">
							<h3 class="ui top attached header">
								{{.i18n.Tr "Create New Zone"}}
							</h3>
							<div class="ui attached segment">
								<div class="required inline field">
									<label for="name">{{.i18n.Tr "Name"}}</label>
									<input id="name" name="name" autofocus required>
								</div>
								<div class="inline field">
                                    <label for="remark">{{.i18n.Tr "Remark"}}</label>
                                    <textarea id="remark" name="remark" rows="3" placeholder=""></textarea>
                                </div>
								<!--div class="inline field">
									<div class="ui checkbox">
										<input type="checkbox" name="default" id="default">
										<label for="default">{{.i18n.Tr "Default Zone"}}</label>
									</div>
								</div-->
								<div class="inline field">
									<label></label>
									<button class="ui green button">{{.i18n.Tr "Create New Zone"}}</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{template "_footer" .}}